div(class="accordion" id="best2022")
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem1" aria-expanded="false" aria-controls="collitem1") LonelyLoners
        div(id="collitem1" class="accordion-collapse collapse" data-bs-parent="#best2022")
            div(class="accordion-body text-left")                                                
                strong Történetünk szerint LyRs az árva robot elhagyja a kihalt Földet, hogy teljesítse alkotói utolsó kivánságát...
                br
                ul
                    li A játék command alapú, különböző parancsszavakkal lehet irányítani főszereplőnket.
                    li 
                        strong Cél: 
                        p A játék célja, hogy saját döntéseinkkel befolyásoljuk LyRs döntéseit és így a játék történéseit. Vannak pozitív és negatív döntések, csupán rajtunk állnak hogy éppen melyiket válasszuk.
                    li Megvalósítás: C++, SDL
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-semester-project-lonelyloners") Github repository
                    li 
                        a(href="https://www.youtube.com/watch?v=b1xvjFr0ZNE") Videó #1
                    li 
                        a(href="https://youtu.be/vwx9xpUJWVk") Videó #2
                img(src="halloffame/2022/lonelyloners.png")
                img(src="halloffame/2022/lonelyloners2.png")

    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem2" aria-expanded="false" aria-controls="collitem2") Hellfire
        div(id="collitem2" class="accordion-collapse collapse" data-bs-parent="#best2022")
            div(class="accordion-body text-left")                                                
                ul
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-semester-project-hellfire") Github repository
                    li 
                        a(href="https://youtu.be/5npTKX_MJ0U") Videó #1                                                    
                img(src="halloffame/2022/hellfire1.png")
                img(src="halloffame/2022/hellfire2.png")
    
    div(class="accordion-item")
        h5(class="accordion-header") 
            button(class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collitem3" aria-expanded="false" aria-controls="collitem3") Gitanos
        div(id="collitem3" class="accordion-collapse collapse" data-bs-parent="#best2022")
            div(class="accordion-body text-left")
                ul
                    li 
                        a(href="https://github.com/SZE-IT-MOSZE/mosze-semester-project-gitanos") Github repository
                    li 
                        a(href="https://www.youtube.com/watch?v=v2Qiff0fLGs&t") Videó #1
                img(src="halloffame/2022/gitanos.png")