doctype html
html(lang="hu")
    head 
        meta(charset="utf-8")
        title Modern Szoftverfejlesztési Eszközök
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
        link(rel="stylesheet" href="styles.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
    body        
        nav(class="navbar navbar-expand-lg bg-body-tertiary")
            div(class="container-lg text-center")
                h1(class="navbar-brand" id="projtitle") Modern szoftverfejlesztési eszközök
                h4(class="navbar-brand" ) Széchenyi istván Egyetem
            div(class="container" id="navcont1")
                div(class="navbar" id="mainNav")
                    ul(class="navbar-nav mb-2 nb-lg-0")
                        li(class="nav-item") 
                            a(class="nav-link" href="#generalinf") Általános
                        li(class="nav-item") 
                            a(class="nav-link" href="#eduinf") Oktatási információk
                        li(class="nav-item") 
                            a(class="nav-link" href="#hhalloffame") Dicsőségcsarnok
            
        div(class="container")
            div(class="row")                
                div(class="col")
                    include info_card.pug
                div(class="col-10")
                    h4(id="generalinf") Általános
                        p
                    h4(id="eduinf") Oktatási információk
                        include eduinf.pug
                    h4(id="hhalloffame") Dicsőségcsarnok
                    div(class="carousel slide" id="halloffame")
                        div(class="carousel-inner" id="hallofffame-inner")
                            div(class="carousel-item active")
                                div(class="container")
                                    h5 2023
                                    include best_2023.pug
                            // 2022
                            div(class="carousel-item")
                                div(class="container")
                                    h5 2022
                                    include best_2022.pug
                    button(class="carousel-control-prev" type="button" data-bs-target="#halloffame" data-bs-slide="prev")
                        span(class="carousel-control-prev-icon")
                        span(class="visually-hidden") Previous
                    button(class="carousel-control-next" type="button" data-bs-target="#halloffame" data-bs-slide="next")
                        span(class="carousel-control-next-icon")
                        span(class="visually-hidden") Next
                div(class="col")
