div(class="card")
    div(class="card-body")
        ul 
            li Modern Szoftverfejlesztési Eszközök
            li GNKB_INTM06 
            li Széchenyi István Egyetem 
            li Kreditszám: 3